.hero {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

section {
    padding: 60px 0;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover {
    color: #ddd;
}


footer {
    background: green;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

.logo-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 1rem;
        }

.footer-logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin: 0 10px;
    background: #fff; /* for transparent PNGs */
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}


.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 6px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}

.social-links a:hover {
    background: #fff;
    color: green;
}

.footer-title {
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-top: 1rem;
}
